* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color:#111; */
}

:root {
    --main-bg-color: #fff;
    --main-text-color: #2a2a2a;
    --main-figure-color: #05386B;
  }

.page {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color:#111;
    /* color: #2a2a2a; */
  }
  
  .e-mail:before {
    content: attr(data-website) "\0040" attr(data-user);
    unicode-bidi: bidi-override;
    direction: rtl;
}
snipets
 /* selected text */
 
::-moz-selection {
    background: rgba(108,54,221,0.6)
}

::selection {
    background: rgba(108,54,221,0.6)
}

.social-bar {
  position: fixed;
  top: 2.43056vw;
  right: 2.77778vw;
  width: 37px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .social-bar {
      width: 15vw;
  }
}

.b_text {
    padding: 0 2.77778vw
}

@media screen and (max-aspect-ratio: 1 / 1) {
    .b_text {
        background-color:#111;
        padding-top: 7.29167vw;
        padding-bottom: 7.29167vw
    }
}

.b_text_cover {
    background-color:#111;
    position: fixed;
    top: 31%;
    padding: 0 2.77778vw
}

@media screen and (max-height: 700px) {
    .b_text_cover {
        top:20%
    }
}

.b_text__title {
    display: inline-block;
    font-weight: bold;
    line-height: 1.0;
    text-align: left;
    color: #fff;
    font-family: 'Roboto Mono'
}

@media screen and (min-aspect-ratio: 1 / 1) {
    .b_text__title {
        font-size:6.81944vw;
        max-width: 47.8725vw
    }
}

@media screen and (max-aspect-ratio: 1 / 1) {
    .b_text__title {
        font-size:13.19444vw;
        max-width: 197.91667vw
    }
}

.b_text__lid {
  font-family: 'Work Sans';
  line-height: 1.5;
  text-align: left;
  color: #fff;
  margin-top: 27px;
  font-size: 24px;
  max-width: 360px
}

@media screen and (max-width: 719px) {
  .b_text__lid {
      font-size:3.33333vw;
      max-width: 50vw
  }
}

@media screen and (max-aspect-ratio: 1 / 1) {
  .b_text__lid {
      font-size:5.55556vw;
      max-width: 83.33333vw
  }
}